

.sheet-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: white;
}
.aggrid{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.appContainer{
  margin-top: 40px;
}
.load_info{
  padding-bottom: 50px;
}
.bar-chart{
  padding-top: 0px;
  height: 530px !important;
}